// https://sass-lang.com/documentation/variables
// [Spartan](https://fonts.google.com/?query=spartan)
$color-primary: #516079;
$color-alt: #f1895c;
$color-light: #ffffff;

$text-light: 300;
$text-normal: 500;
$text-bold: 700;

$transition-slow: 1s;
$transition-fast: 0.2s;

$gutter: 1rem;
